@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #374151 transparent;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}
